#conversations
{
  position: absolute;
  width: 50%;
  left: 25%;
  top:10%;
  height: 40%;
}

#message
{
  width: auto;
}

#send
{
  margin-left: 25%;
  margin-top: 25%;
  margin-right: 25%;
  border-radius: 5px;
}

#flexDiv
{
    display: flex;
}
#typemsg
{
  width: 10%;
  margin-left: 10%;
}


#chatInfo
{
  position: absolute;
  width: 50%;
  left:25%;
  top: 5%;
}


#canvasDiv
{
  width: 100px;
  margin-left: 35%;
  margin-top: 15px;
}

.sendbutton
{
  width:auto;
  margin-left: 45%;
  height: auto;
  padding: 5px;
}
