body
{
background-color: #343148;
color: white;
}

#meMSG
{
  background-color: #5d5881;
}
#otherMSG
{
  background-color: #755881;
  /*#51484F*/
}

button
{
  color: white;
  background-color:  #585379;
  border-style: none;
  padding: 5px 5px 5px 5px;
}

#formbutton
{
  color: white;
  background-color:  #585379;
  border-style: none;
  padding: 5px 5px 5px 5px;
}

textarea
{
  color:white;
  background-color:  #585379;
  border-style: none;
}

#forminput
{
  color:white;
  background-color: #585379;
  border-style: none;
  margin: 5px 0px 5px 0px;
  padding: 5px 0 px 5px 0px;
}

.chats:hover
{
  transform: scale(1.0,1.0);
  color: white;
  background-color: #585379;
}

#key
{
    background-color: #887291;
}
#id01
{
    background-color: #887291;
}

#send
{
    background-color: #887291;
}
