body{
  background-color: #161087;
  color: white;
}

#login
{
  background-color: #3832ad;
  text-align: center;
  margin:20% 40% 0% 40%;
  padding: 20px 0px 20px 0px;
}

#user
{
    text-align:right;
    padding: 5px 20px 5px 20px;
}

#passcode
{
  text-align: right;
  padding: 5px 20px 5px 20px;
}

a{color: white;}
a:visited{color: white;}
#forgot
{
  text-align: right;
  padding-right: 5px;
  float:right;
}

#newuser
{
  text-align:left;
  padding-left:5px;

}

#dropdownmenu
{
  text-align: right
}
.ddbutton
{
  border: none
}
