body
{
  background-color: #2E4A62;
  color: white;
}

.sidebar
{
  float: left;
  text-align:center;
  width: 15%;
  border-right-style:solid;
  border-right-width: 2px;
  border-right-color: white;
  height: 100%;
}

.mainpane
{
  float:left;
  width: 100%;
}

#logout
{
  float: right;
}

.dialog
{
  display: none;
  margin:0% 40% 0% 40%;
  padding: 5px 0px 5px 0px;
  background-color: #3832ad;
  text-align: center;
}

#titleField
{
  padding-bottom:5px;
}
