body
{
  background-color: #2E4A62;
  color: white;
}

.sidebar
{
  /*float: left;*/
  text-align:right;
  width: 50%;
  height: 100%;
  margin-top: 100px;
}

.mainpane
{
  float:left;
  width: 100%;
}

#logout
{
  float: right;
}

.dialog
{
  display: none;
  margin:0% 40% 0% 40%;
  padding: 5px 0px 5px 0px;
  background-color: #3832ad;
  text-align: center;
}

#titleField
{
  padding-bottom:5px;
}



#newChat
{
  margin: 40px 600px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
}

#conversations
{
  margin: 40px 400px 20px;
  padding: 10px;
  border: 5px solid black;
}

#convTag
{
  border-bottom: 5px solid black;
  background-color: cornflowerblue;
}

#message
{
  width: 500px;
}

#chat
{
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.4s ease-in;
  border: 5px solid black;
}

.chats:hover
{
  transform: scale(1.05,1.05);
  color: greenyellow;
  background-color: #3832ad;
}

