body
{
  background-color: #2E4A62;
  color: white;
}

.sidebar
{
  /*float: left;*/
  text-align:right;
  width: 50%;
  height: 100%;
  margin-top: 100px;
}

.mainpane
{
  float:left;
  width: 100%;
}

#logout
{
  float: right;
}

.dialog
{
  display: none;
  margin:0% 40% 0% 40%;
  padding: 5px 0px 5px 0px;
  background-color: #3832ad;
  text-align: center;
}

#titleField
{
  padding-bottom:5px;
}



#newChat
{
  margin: 24px 400px;
}

#loadChat
{
  margin: 24px 400px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
}
