

#formBox
{
  background-color: #2ebdff;
  text-align: center;
  margin:20% 39% 0% 39%;
  padding: 20px 0px 20px 0px;
}

#input
{
  text-align: right;
  padding: 5px 20px 5px 20px;
}

#create
{
  text-align: right;
  padding-right: 5px;
}
