<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainInterface.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static themeCSS %}">
</head>
<body>
  <script src="{% static 'mainInterface.js'%}"></script>

  <div class = "mainpane">
    <form action="settings.html" id="settings">
      <input type="submit" value = "Settings"></input>
    </form>
    <form action="login.html" id="logout">
      <input type="submit" value="Logout"></input>
    </form>
    <p style = "text-align: center;">Click on one of the conversations or make a new one!</p>
  </div>
  <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id="newChat">Make New Chat</button>

<div id="id01" class="modal">
    <form method="POST" id="newConv">
      {% csrf_token %}
      <div id = "titleField">
        Title:
        {{form.title}}
      </div>
      <div id = "titleField">
        Password (Optional):
        {{form.key}}
      </div>
      <div id = "titleField">
        Recipients List (comma-separated)
        {{form.recipients}}
      </div>
      <button type="submit" class="darkbutton">Create</button>
    </form>
    <button type="button" onclick="document.getElementById('id01').style.display='none'" id="cancel">Cancel</button>
</div>
<div id = "conversations" style="height: 400px; overflow-y: scroll">
  <b style="border: 2px solid black;">Conversations</b>
  {% for c in convs %}
    <div id="convTag">
      <a href="http://localhost:8000/convo.html#convTag" style="text-decoration: none;"
      >{{c.title}}<br />{{c.dateTimeStamp}}</a></div>
  {% endfor %}
</div>
<div>
  Sort conversations
  <form method="POST" id="newConv">
    {% csrf_token %}
    {{sort.sortId}}
  </form>
</div>
</body>
</html>
