<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainInterface.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static themeCSS %}">
</head>
<script src="{% static 'mainInterface.js'%}"></script>

<body>

  <div class = "sidebar">
    <button style = "text-align: center;" id="newText" onclick=newChatPopUp()>Make New Chat</button>
    <button>Load Convos</button>
  </div>

  <div class = "mainpane">
    <form action="settings.html" id="settings">
      <input type="submit" value = "Settings"></input>
    </form>
    <form action="login.html" id="logout">
      <input type="submit" value="Logout"></input>
    </form>
    <p style = "text-align: center;">Click on one of the conversations or make a new one!</p>
  </div>
  <div class="dialog" id="chatpopup">
    <form method="post" id="newConv">
      {% csrf_token %}
      <div id = "titleField">
        Title:
        {{form.title}}
      </div>
      <div id = "titleField">
        Password (Optional):
        {{form.key}}
      </div>
      <button type="submit" class="darkbutton">Create</button>
    </form>
  </div>
</body>
</html>
