<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'convo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'msgbox.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static request.session.themeCSS %}">
</head>

<script src="https://www.gstatic.com/firebasejs/5.8.6/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'config.js'%}"></script>
<script src="{% static 'pchat.js'%}"></script>
<script>
// Initialize Firebase
var config = getConfig();
firebase.initializeApp(config);
var db = firebase.database();
function pushmsg()
{
  var msg = document.getElementById("message").value;
  document.getElementById("message").value = "";
  var user = "{{request.session.username}}";
  var t = new Date().getTime();
  var msgKey = user+t;
  db.ref('ConversationData/'+"{{request.session.currconv}}"+'/'+msgKey).set(
    {
      sender: "{{request.session.username}}",
      timeStamp: t,
      type: 0,
      data: msg
    }
  );
}

function pushCanv()
{
  var canvData = submitCanvas();
  alert(canvData);
  var user = "{{request.session.username}}";
  var t = new Date().getTime();
  var msgKey = user+t;
  db.ref('ConversationData/'+"{{request.session.currconv}}"+'/'+msgKey).set({sender: user, timeStamp: t, type: 1, data: canvData});
}
function showCanvas(){document.getElementById('canvasDiv').style.display="block";}
function hideCanvas(){document.getElementById('canvasDiv').style.display="none"; clearCanv();}
var msgarea = document.getElementById('chatbox');


var convRef = db.ref('ConversationData/'+"{{request.session.currconv}}"+'/');
convRef.on('value', function(snapshot){
  //var convData =snapshot.val();
  //var keyArr= Object.keys(snapshot.val());
  //keyArr.forEach(function(k){renderMSG(convData[k]));
  $('.chatbox').html('').load('{% url "msgbox" %}');
});
</script>

<body onload='init()'>
  <script src="{% static 'mainInterface.js'%}"></script>
  <div class = "mainpane">
    <form action="login.html" id="logout">
      <input type="submit" value="Logout" id="formbutton"></input>
    </form>
    <form action="appInterface.html" id="return">
        <input type="submit" value = "Back to Home Page" id="formbutton"></input>
    </form>

</div>
<div id = "conversations" style="overflow-y: scroll">
  <div id = "chatInfo">
    <b style="border: 2px solid black;">Title: {{request.session.convTitle}}</b>
    <br />
    <b style="border:2px solid black;">Recipient:
      {% for c in request.session.convRecip %}
        {{c}} <span> , </span>
      {%endfor%}
    </b>
  </div>
  <div class="chatbox">
    {% include 'msgbox.html' %}
  </div>

</div>
<button id="showCanvas" onclick="showCanvas()">+</button>
<div id="typemsg" style="text-align:center;">
<p>
  <textarea id ="message" name="message"
  rows="6" cols="30" placeholder="Type a message here"></textarea>
</p>
<p>
  <input type = "submit" value="Send"  id="formbutton" onclick="pushmsg()"/>
</p>
</div>



<div id="canvasDiv" style="display:none">
<canvas id="canvas" height="100" width="100" style="border:1px solid #000000; background-color: white;"></canvas>
<button id="hideCanvas" onclick="hideCanvas()">X</button>

<button id="submitCanvas" onclick="pushCanv()">Send</button>
</div>
</body>
</html>
