<!DOCTYPE html>
{%if error%}
<script>alert('{{ error }}');</script>
{% endif %}
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App Login</title>
    <link rel="stylesheet" type="text/css" title="blue" href="{% static 'login.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'button.css'%}">
</head>
<body>
<form method = "post" id="login">
    {% csrf_token %}
    <div id="user">
      Email:
    {{form.user}}
    </div>
    <div id="passcode">
      Password:
      {{form.passcode}}
    </div>
    <div>
    <button type = "submit" class = "darkbutton">Login

    </button>
    </div>

    <div id="forgot">
    <a href="resetpassword.html">Forgot Password?</a>
    </div>

    <div id="newuser">
      <a href="registeruser.html">New User? Click Here</a>
    </div>
</form>


</body>
</html>
