<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>App Login</title>
    <link rel="stylesheet" type="text/css" title="blue" href="{% static 'login.css'%}">
</head>
<script>
  function changeColor(color)
  {
    document.body.style.background = color;
  }
</script>
<body>
  <div id="dropdownmenu">
    <select>
      <option value="placeholder">Choose A Theme</option>
      <option value="green" onclick = changeColor(value)>Green</option>
      <option value="blue" onclick = changeColor(value)>Blue</option>
      <option value="yellow" onclick = changeColor(value)>Yellow</option>
      <option value="red" onclick = changeColor(value)>Red</option>
    </select>
  </div>
<form method = "post" id="login">
    {% csrf_token %}
    {{form}}

    <div>
    <button type = "submit" href="appInterface.html">Login

    </button>
    </div>

    <div id="forgot">
    <a href="resetpassword.html">Forgot Password?</a>
    </div>

    <div id="newuser">
      <a href="registeruser.html">New User? Click Here</a>
    </div>
</form>


</body>
</html>
