<!DOCTYPE html>
{% load static from staticfiles %}
<html>
<head>
  <meta charset="UTF-8">
  <title>Register User</title>
  <link rel="stylesheet" type="text/css" title="blue" href="{% static 'newuser.css'%}">
</head>

<body>
  <form id="box" method = "post">
    {% csrf_token %}
    <div id="input">
    Email:
    {{form.email}}
    </div>
    <div id="input">
      Password:
      {{form.password}}
    </div>
    <div id="input">
      Confirm Password:
      {{form.confirmPassword}}
    </div>
     <div id="create"><button type = "submit" >Create User
     </button></div>
     <a href="login.html">Return to login</a>
  </form>

</body>
</html>
